@media screen and (min-width: 1001px) {
    .pages {
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: #f9f9f9;
        .content {
            margin: 1.25rem 0;
            width: 60%;
            background: #ffffff;
            box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(1, 34, 71, 0.08);
            border-radius: 0.63rem 0.63rem 0.63rem 0.63rem;
            padding: 2.19rem 2.25rem 3.13rem 2.25rem;
            .school {
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }
                .info {
                    position: absolute;
                    left: 0;
                    top: 2.5rem;
                    width: 15rem;
                    height: 5.56rem;
                    background: rgba(255, 255, 255, 0.5);
                    box-shadow: 0rem 0rem 0.25rem 0rem rgba(1, 34, 71, 0.17);
                    border: 0.06rem solid #ffffff;
                    border-radius: 0.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 1rem;
                    p {
                        font-family: Arial, sans-serif;
                        font-weight: 400;
                        font-size: 1.25rem;
                        color: #00162d;
                        line-height: 1.46rem;
                        letter-spacing: 1px;
                    }
                    img {
                        width: 1.88rem;
                        height: auto;
                    }
                }
            }
            .title {
                h2 {
                    margin-top: 1.25rem;
                    font-family: Source Han Sans CN, sans-serif;
                    font-weight: 500;
                    font-size: 2.25rem;
                    color: #012247;
                    line-height: 4.05rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Source Han Serif CN, sans-serif;
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #838c96;
                    line-height: 2rem;
                    letter-spacing: 1px;
                    text-align: center;
                }
            }
            ul {
                margin-top: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                li + li {
                    margin-left: 1.5rem;
                }
                li {
                    width: 21%;
                    background: #f4f4f4;
                    border-radius: 0.63rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.5rem 0;
                    p {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: 400;
                        font-size: 1.5rem;
                        color: #012247;
                        line-height: 1.76rem;
                        letter-spacing: 1px;
                    }
                }
                li:hover {
                    background: #012247;
                    p {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1001px) {
    .pages {
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: #f9f9f9;
        .content {
            margin: 1.25rem 0;
            width: 90%;
            background: #ffffff;
            box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(1, 34, 71, 0.08);
            border-radius: 0.63rem 0.63rem 0.63rem 0.63rem;
            padding: 2.19rem 2.25rem 3.13rem 2.25rem;
            .school {
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }
                .info {
                    position: absolute;
                    left: 0;
                    top: 2.5rem;
                    width: 15rem;
                    height: 5rem;
                    background: rgba(255, 255, 255, 0.5);
                    box-shadow: 0rem 0rem 0.25rem 0rem rgba(1, 34, 71, 0.17);
                    border: 0.06rem solid #ffffff;
                    border-radius: 0.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 1rem;
                    p {
                        font-family: Arial, sans-serif;
                        font-weight: 400;
                        font-size: 1.25rem;
                        color: #00162d;
                        line-height: 1.46rem;
                        letter-spacing: 1px;
                    }
                    img {
                        width: 1.88rem;
                        height: auto;
                    }
                }
            }
            .title {
                h2 {
                    margin-top: 1.25rem;
                    font-family: Source Han Sans CN, sans-serif;
                    font-weight: 500;
                    font-size: 2.25rem;
                    color: #012247;
                    line-height: 4.05rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    font-family: Source Han Serif CN, sans-serif;
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #838c96;
                    line-height: 2rem;
                    letter-spacing: 1px;
                    text-align: center;
                }
            }
            ul {
                margin-top: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                li + li {
                    margin-left: 1.5rem;
                }
                li {
                    width: 21%;
                    background: #f4f4f4;
                    border-radius: 0.63rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.5rem 0;
                    p {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: 400;
                        font-size: 1.5rem;
                        color: #012247;
                        line-height: 1.76rem;
                        letter-spacing: 1px;
                    }
                }
                li:hover {
                    background: #012247;
                    p {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: #f9f9f9;
        .content {
            margin: 1.25rem 0;
            width: 90%;
            background: #ffffff;
            box-shadow: 0rem 0.06rem 0.25rem 0rem rgba(1, 34, 71, 0.08);
            border-radius: 0.63rem 0.63rem 0.63rem 0.63rem;
            padding: 2rem;
            .school {
                position: relative;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                .info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        font-family: Arial, sans-serif;
                        font-weight: 400;
                        font-size: 1.5rem;
                        color: #00162d;
                        line-height: 1.46rem;
                        letter-spacing: 1px;
                    }
                    img {
                        margin-left: 0.63rem;
                        width: 1.88rem;
                        height: auto;
                    }
                }
                .showImg {
                    margin-top: 2rem;
                    width: 100%;
                    height: auto;
                }
            }
            .title {
                h2 {
                    margin-top: 1.25rem;
                    font-family: Source Han Sans CN, sans-serif;
                    font-weight: 500;
                    font-size: 1.8rem;
                    color: #012247;
                    line-height: 4.05rem;
                    text-align: center;
                }
                p {
                    font-family: Source Han Serif CN, sans-serif;
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #838c96;
                    line-height: 2rem;
                    letter-spacing: 1px;
                    text-align: justify;
                }
            }
            ul {
                margin-top: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
                list-style: none;
                li {
                    width: 31%;
                    background: #f4f4f4;
                    border-radius: 0.63rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.5rem 0;
                    p {
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: 400;
                        font-size: 1.3rem;
                        color: #012247;
                        line-height: 1.76rem;
                        letter-spacing: 1px;
                    }
                }
                li:hover {
                    background: #012247;
                    p {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
