@media screen and (min-width: 1601px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../public/img/international/video.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            max-width: 120rem;
            width: 100%;
            height: 40rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                width: 11.75rem;
                height: 11.75rem;
                border: none;
                border-radius: 50%;
                background-color: #00162d;
                display: flex;
                justify-content: center;
                align-items: center;
                .triangular {
                    width: 0;
                    height: 0;
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-right: 50px solid transparent;
                    border-left: 80px solid white;
                    position: relative;
                    left: 40px;
                }
            }
            .videoDialog {
                :global {
                    .ant-modal-root .ant-modal-centered .ant-modal {
                        width: 100rem !important;
                        min-height: 28rem;
                        background: #ffffff;
                        overflow: hidden;
                        border-radius: 0.5rem;
                    }
                    .ant-modal .ant-modal-content {
                        padding: 0;
                        margin: 0;
                    }
                }
                .videoContent {
                    min-height: 28rem;
                    display: flex;
                    flex-direction: column;
                    video {
                        display: inline-block;
                        width: 100rem;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1600px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../public/img/international/video.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            max-width: 120rem;
            width: 100%;
            height: 36rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                width: 11rem;
                height: 11rem;
                border: none;
                border-radius: 50%;
                background-color: #00162d;
                display: flex;
                justify-content: center;
                align-items: center;
                .triangular {
                    width: 0;
                    height: 0;
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-right: 40px solid transparent;
                    border-left: 60px solid white;
                    position: relative;
                    left: 30px;
                }
            }
            .videoDialog {
                :global {
                    .ant-modal-root .ant-modal-centered .ant-modal {
                        width: 90% !important;
                        min-height: 28rem;
                        background: #ffffff;
                        overflow: hidden;
                        border-radius: 0.5rem;
                    }
                    .ant-modal .ant-modal-content {
                        padding: 0;
                        margin: 0;
                    }
                }
                .videoContent {
                    min-height: 28rem;
                    display: flex;
                    flex-direction: column;
                    video {
                        display: inline-block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../public/img/international/video.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            max-width: 120rem;
            width: 100%;
            height: 32rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                width: 11rem;
                height: 11rem;
                border: none;
                border-radius: 50%;
                background-color: #00162d;
                display: flex;
                justify-content: center;
                align-items: center;
                .triangular {
                    width: 0;
                    height: 0;
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-right: 40px solid transparent;
                    border-left: 60px solid white;
                    position: relative;
                    left: 30px;
                }
            }
            .videoDialog {
                :global {
                    .ant-modal-root .ant-modal-centered .ant-modal {
                        width: 90% !important;
                        min-height: 28rem;
                        background: #ffffff;
                        overflow: hidden;
                        border-radius: 0.5rem;
                    }
                    .ant-modal .ant-modal-content {
                        padding: 0;
                        margin: 0;
                    }
                }
                .videoContent {
                    min-height: 28rem;
                    display: flex;
                    flex-direction: column;
                    video {
                        display: inline-block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../public/img/international/video.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            max-width: 120rem;
            width: 100%;
            height: 28rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                width: 10rem;
                height: 10rem;
                border: none;
                border-radius: 50%;
                background-color: #00162d;
                display: flex;
                justify-content: center;
                align-items: center;
                .triangular {
                    width: 0;
                    height: 0;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-right: 30px solid transparent;
                    border-left: 50px solid white;
                    position: relative;
                    left: 25px;
                }
            }
            .videoDialog {
                :global {
                    .ant-modal-root .ant-modal-centered .ant-modal {
                        width: 90% !important;
                        min-height: 28rem;
                        background: #ffffff;
                        overflow: hidden;
                        border-radius: 0.5rem;
                    }
                    .ant-modal .ant-modal-content {
                        padding: 0;
                        margin: 0;
                    }
                }
                .videoContent {
                    min-height: 28rem;
                    display: flex;
                    flex-direction: column;
                    video {
                        display: inline-block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../public/img/international/video.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            max-width: 120rem;
            width: 100%;
            height: 18rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                width: 7rem;
                height: 7rem;
                border: none;
                border-radius: 50%;
                background-color: #00162d;
                display: flex;
                justify-content: center;
                align-items: center;
                .triangular {
                    width: 0;
                    height: 0;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-left: 30px solid white;
                    position: relative;
                    left: 15px;
                }
            }
            .videoDialog {
                :global {
                    .ant-modal-root .ant-modal-centered .ant-modal {
                        width: 91% !important;
                        background: #ffffff;
                        overflow: hidden;
                        border-radius: 0.5rem;
                    }
                    .ant-modal .ant-modal-content {
                        padding: 0;
                        margin: 0;
                    }
                }
                .videoContent {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    video {
                        display: inline-block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
