@media screen and (min-width: 1201px) {
    .pages {
        display: flex;
        justify-content: center;
        align-content: center;
        .container {
            width: 80rem;
            margin-bottom: 6.25rem;
            .title {
                display: flex;
                align-items: center;
                h2 {
                    margin-left: 0.88rem;
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #00162d;
                    line-height: 3.6rem;
                    letter-spacing: 2px;
                }
            }
            .picture {
                margin-top: 2.5rem;
                display: flex;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .pages {
        display: flex;
        justify-content: center;
        align-content: center;
        .container {
            width: 90%;
            margin-bottom: 6rem;
            .title {
                display: flex;
                align-items: center;
                h2 {
                    margin-left: 0.88rem;
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2rem;
                    color: #00162d;
                    line-height: 1.5rem;
                    letter-spacing: 1px;
                }
                p {
                    margin-left: 1.25rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #00162d;
                    line-height: 2.5rem;
                    letter-spacing: 2px;
                }
            }
            .picture {
                margin-top: 2.5rem;
                display: flex;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        justify-content: center;
        align-content: center;
        .container {
            width: 96%;
            margin-bottom: 5rem;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: #00162d;
                    line-height: 2rem;
                    letter-spacing: 1px;
                    text-align: center;
                }
            }
            .picture {
                margin-top: 2rem;
                display: flex;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
