.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 100%;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        .viewDataBtn {
            border: none;
            font-size: 1.5rem;
            background: #128ff8;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            color: white;
        }
        .form {
            margin-top: 2rem;
            width: 100%;
            background-color: #f0f0f0;
            padding: 0 2rem;
        }
        .content {
            margin-top: 2rem;
            background-color: #1a8cf2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 2rem 4rem;
            .price {
                text-align: center;
                color: white;
                font-size: 2rem;
                span {
                    font-weight: bold;
                }
            }
            .title {
                margin-top: 2rem;
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
                background: white;
                padding: 0 1rem;
                border-radius: 20px;
                p {
                    font-size: 2rem;
                    text-align: center;
                    color: #128ff8;
                    letter-spacing: 5px;
                }
            }
            .code {
                width: 20rem;
                height: 20rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                background-color: white;
                font-size: 5rem;
                img {
                    width: 20rem;
                    height: auto;
                }
            }
            .desc {
                margin-top: 1rem;
                p {
                    color: white;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    text-align: center;
                }
            }
        }
    }
}
