@media screen and (min-width: 1501px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../../public/img/home/divisionBg.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            margin-top: 8.13rem;
            margin-bottom: 4.44rem;
            width: 87rem;
            display: flex;
            color: white;
            .left {
                img {
                    width: 35.19rem;
                    height: 36.31rem;
                }
            }
            .right {
                margin-left: 2.5rem;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.8rem;
                    line-height: 2.64rem;
                    text-align: left;
                }
                .article {
                    margin: 1.25rem 0;
                    font-family: Microsoft YaHei UI, sans-serif;
                    font-weight: 400;
                    font-size: 1.1rem;
                    color: #ffffff;
                    line-height: 1.5rem;
                    letter-spacing: 1px;
                    text-align: justify;
                }
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 0.5rem;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        img {
                            width: 2.13rem;
                            height: 2rem;
                        }
                        p {
                            margin-left: 1.44rem;
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.2rem;
                            color: #ffffff;
                            line-height: 1.6rem;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../../public/img/home/divisionBg.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            margin-top: 8.13rem;
            margin-bottom: 4.44rem;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            .left {
                img {
                    width: 34rem;
                    height: 36.31rem;
                }
            }
            .right {
                margin-left: 2rem;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    text-align: left;
                }
                .article {
                    margin: 1rem 0;
                    font-family: Microsoft YaHei UI, sans-serif;
                    font-weight: 400;
                    font-size: 1.1rem;
                    color: #ffffff;
                    line-height: 1.75rem;
                    letter-spacing: 1px;
                    text-align: justify;
                }
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 0.5rem;
                    }
                    li {
                        display: flex;
                        img {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                        p {
                            margin-left: 1.44rem;
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1.1rem;
                            color: #ffffff;
                            line-height: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../../public/img/home/divisionBg.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            margin-top: 5rem;
            margin-bottom: 4.44rem;
            width: 90%;
            display: flex;
            align-items: center;
            color: white;
            .left {
                img {
                    width: 30rem;
                    height: 34rem;
                }
            }
            .right {
                margin-left: 2rem;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 1px;
                    text-align: left;
                }
                .article {
                    margin: 1rem 0;
                    font-family: Microsoft YaHei UI, sans-serif;
                    font-weight: 400;
                    font-size: 1rem;
                    color: #ffffff;
                    line-height: 1.6rem;
                    letter-spacing: 1px;
                    text-align: justify;
                }
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 0.63rem;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        img {
                            width: 1.4rem;
                            height: 1.3rem;
                        }
                        p {
                            margin-left: 1rem;
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #ffffff;
                            line-height: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../../public/img/home/divisionBg.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            margin-top: 3rem;
            margin-bottom: 3rem;
            width: 80%;
            display: flex;
            align-items: center;
            color: white;
            .left {
                display: none;
                img {
                    width: 30rem;
                    height: 34rem;
                }
            }
            .right {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.7rem;
                    line-height: 2rem;
                    text-align: center;
                }
                .article {
                    margin: 1rem 0;
                    font-family: Microsoft YaHei UI, sans-serif;
                    font-weight: 400;
                    font-size: 1.1rem;
                    color: #ffffff;
                    line-height: 1.6rem;
                    letter-spacing: 1px;
                    text-align: justify;
                }
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 0.5rem;
                    }
                    li {
                        display: flex;
                        img {
                            width: 1.5rem;
                            height: auto;
                        }
                        p {
                            margin-left: 1.44rem;
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            color: #ffffff;
                            line-height: 1.5rem;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../../../public/img/home/divisionBg.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .container {
            margin-top: 2rem;
            margin-bottom: 3rem;
            width: 90%;
            color: white;
            .left {
                display: flex;
                justify-content: center;
                img {
                    max-width: 30rem;
                    width: 100%;
                    height: auto;
                }
            }
            .right {
                margin-top: 2rem;
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 1px;
                    text-align: left;
                }
                .article {
                    margin: 1rem 0;
                    font-family: Microsoft YaHei UI, sans-serif;
                    font-weight: 400;
                    font-size: 0.9rem;
                    color: #ffffff;
                    line-height: 1.6rem;
                    letter-spacing: 1px;
                    text-align: justify;
                }
                ul {
                    list-style: none;
                    li + li {
                        margin-top: 0.5rem;
                    }
                    li {
                        display: flex;
                        img {
                            width: 1.5rem;
                            height: 1.6rem;
                        }
                        p {
                            margin-left: 1.44rem;
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 0.9rem;
                            color: #ffffff;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}
