@media screen and (min-width: 1401px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            width: 85rem;
            margin: 6.25rem 0;
            .card {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .content {
                    width: 46%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .list {
                        .title {
                            p {
                                font-size: 6.25rem;
                                font-family: Abril Fatface, sans-serif;
                                color: #ffede0;
                            }
                            h2 {
                                margin-top: -4rem;
                                padding-left: 4rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: bold;
                                font-size: 1.8rem;
                                color: #00162d;
                                line-height: 3rem;
                                letter-spacing: 1px;
                            }
                        }
                        .desc {
                            margin-top: 1rem;
                            padding-left: 4rem;
                            p {
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                font-size: 1.1rem;
                                color: #012247;
                                line-height: 1.6rem;
                            }
                        }
                        ul {
                            list-style: none;
                            margin-top: 1rem;
                            padding-left: 4rem;
                            li + li {
                                margin-top: 0.5rem;
                            }
                            li {
                                display: flex;
                                align-items: flex-start;
                                .right {
                                    display: flex;
                                    align-items: center;
                                    height: 1.5rem;
                                    img {
                                        width: 1.44rem;
                                        height: 1.31rem;
                                    }
                                }
                                p {
                                    margin-left: 1.2rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 1rem;
                                    color: #012247;
                                    line-height: 1.5rem;
                                    letter-spacing: 0.5px;
                                }
                            }
                        }
                    }
                }
                .picture {
                    width: 51%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .pcPicture {
                    width: 51%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .mobilePicture {
                    display: none;
                }
            }
            .card + .card {
                margin-top: 6.25rem;
            }
        }
    }
}

@media screen and (min-width: 1001px) and (max-width: 1400px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            width: 90%;
            margin: 5rem 0;
            .card {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .content {
                    width: 48%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .list + .list {
                        margin-top: 4rem;
                    }
                    .list {
                        .title {
                            p {
                                font-size: 5rem;
                                font-family: Abril Fatface, sans-serif;
                                color: #ffede0;
                            }
                            h2 {
                                margin-top: -3.5rem;
                                padding-left: 4rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: bold;
                                font-size: 1.4rem;
                                color: #00162d;
                                line-height: 3rem;
                            }
                        }
                        .desc {
                            margin-top: 0.5rem;
                            padding-left: 4rem;
                            p {
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                font-size: 1.1rem;
                                color: #012247;
                                line-height: 1.5rem;
                            }
                        }
                        ul {
                            list-style: none;
                            margin-top: 0.5rem;
                            padding-left: 4rem;
                            li {
                                display: flex;
                                .right {
                                    height: 1.8rem;
                                    display: flex;
                                    align-items: center;
                                    img {
                                        width: 1.44rem;
                                        height: 1.31rem;
                                    }
                                }
                                p {
                                    margin-left: 1rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 1rem;
                                    color: #012247;
                                    line-height: 1.8rem;
                                }
                            }
                        }
                    }
                }
                .picture {
                    width: 49%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .pcPicture {
                    width: 49%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .mobilePicture {
                    display: none;
                }
            }
            .card + .card {
                margin-top: 4rem;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            width: 90%;
            margin: 5rem 0;
            .card {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .content {
                    width: 49%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .list {
                        .title {
                            p {
                                font-size: 4rem;
                                font-family: Abril Fatface, sans-serif;
                                color: #ffede0;
                            }
                            h2 {
                                margin-top: -3rem;
                                padding-left: 3rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: bold;
                                font-size: 1.5rem;
                                color: #00162d;
                                line-height: 2rem;
                            }
                        }
                        .desc {
                            margin-top: 0.5rem;
                            padding-left: 3rem;
                            p {
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                font-size: 1rem;
                                color: #012247;
                                line-height: 1.5rem;
                            }
                        }
                        ul {
                            list-style: none;
                            padding-left: 3rem;
                            li {
                                display: flex;
                                .right {
                                    display: flex;
                                    align-items: center;
                                    height: 1.5rem;
                                    img {
                                        width: 1.44rem;
                                        height: 1.31rem;
                                    }
                                }
                                p {
                                    margin-left: 1rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 0.9rem;
                                    color: #012247;
                                    line-height: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .picture {
                    width: 49%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .pcPicture {
                    width: 49%;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .mobilePicture {
                    display: none;
                }
            }
            .card + .card {
                margin-top: 4rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            width: 90%;
            margin: 5rem 0;
            .card {
                width: 100%;
                .content {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .list {
                        .title {
                            p {
                                font-size: 4rem;
                                font-family: Abril Fatface, sans-serif;
                                color: #ffede0;
                            }
                            h2 {
                                margin-top: -3rem;
                                padding-left: 3rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: bold;
                                font-size: 1.5rem;
                                color: #00162d;
                                line-height: 2rem;
                                letter-spacing: 1px;
                            }
                        }
                        .desc {
                            margin-top: 0.5rem;
                            padding-left: 3rem;
                            p {
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                font-size: 1.1rem;
                                color: #012247;
                                line-height: 1.6rem;
                            }
                        }
                        ul {
                            margin-top: 0.5rem;
                            list-style: none;
                            padding-left: 3rem;
                            li + li {
                                margin-top: 0.5rem;
                            }
                            li {
                                display: flex;
                                .right {
                                    display: flex;
                                    align-items: center;
                                    height: 1.5rem;
                                    img {
                                        width: 1.44rem;
                                        height: 1.31rem;
                                    }
                                }
                                p {
                                    margin-left: 1rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 1rem;
                                    color: #012247;
                                    line-height: 1.5rem;
                                    letter-spacing: 0.5px;
                                }
                            }
                        }
                    }
                }
                .picture {
                    margin-top: 1.5rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-width: 36rem;
                        width: 100%;
                        height: auto;
                    }
                }
                .pcPicture {
                    display: none;
                }
                .mobilePicture {
                    margin-top: 1.5rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        max-width: 36rem;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .card + .card {
                margin-top: 4rem;
            }
        }
    }
}
