@media screen and (min-width: 1501px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 6.25rem 0;
            width: 88rem;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #00162d;
                    line-height: 2.64rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    margin-top: 0.63rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #012247;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .lists {
                width: 100%;
                list-style: none;
                .list + .list {
                    margin-top: 1.25rem;
                }
                .list {
                    width: 100%;
                    .list_title {
                        width: 100%;
                        height: 3.63rem;
                        background: #ffffff;
                        box-shadow: 0rem 0.25rem 0.25rem 0rem #f6f6f6;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        padding: 0 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #000000;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        .icon {
                            font-size: 1.2rem;
                            color: #83a4f8;
                            border: none;
                            background-color: transparent;
                        }
                    }
                    .list_content {
                        display: none;
                    }
                }
                .activeList {
                    .list_title {
                        .icon {
                            transform: rotate(90deg);
                            color: #ffd089;
                        }
                    }
                    .list_content {
                        display: block;
                        background: #fcf9f7;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        margin-top: 0.63rem;
                        padding: 1.06rem 0.88rem 1rem 1.44rem;
                        .description {
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 0.88rem;
                            color: #012247;
                            line-height: 1.57rem;
                            letter-spacing: 1px;
                        }
                        ul {
                            margin-top: 0.88rem;
                            list-style: none;
                            li + li {
                                margin-top: 0.5rem;
                            }
                            li {
                                display: flex;
                                .des_label {
                                    p {
                                        font-family: Microsoft YaHei UI, sans-serif;
                                        font-weight: bold;
                                        font-size: 0.88rem;
                                        color: #012247;
                                        line-height: 1.4rem;
                                        letter-spacing: 1px;
                                        white-space: nowrap;
                                    }
                                    hr {
                                        margin-top: -0.5rem;
                                        width: 100%;
                                        height: 0.56rem;
                                        background: #ffd089;
                                        border-radius: 0.13rem 0.13rem 0.13rem 0.13rem;
                                        border: none;
                                    }
                                }
                                .des_value {
                                    margin-left: 0.8rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 0.8rem;
                                    color: #395a7c;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content_top {
                margin-top: 2.5rem;
                display: flex;
                justify-content: space-between;
                .picture {
                    img {
                        width: 43.13rem;
                        height: 31.19rem;
                    }
                }
                .lists {
                    margin-left: 4rem;
                }
            }
            .content_bottom {
                margin-top: 5rem;
                display: flex;
                justify-content: space-between;
                .picture {
                    margin-left: 4rem;
                    img {
                        width: 43.13rem;
                        height: 37.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 6.25rem 0;
            width: 90%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #00162d;
                    line-height: 2.64rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    margin-top: 0.63rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #012247;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .lists {
                width: 100%;
                list-style: none;
                .list + .list {
                    margin-top: 1.25rem;
                }
                .list {
                    width: 100%;
                    .list_title {
                        width: 100%;
                        height: 3.63rem;
                        background: #ffffff;
                        box-shadow: 0rem 0.25rem 0.25rem 0rem #f6f6f6;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        padding: 0 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #000000;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        .icon {
                            font-size: 1.2rem;
                            color: #83a4f8;
                            border: none;
                            background-color: transparent;
                        }
                    }
                    .list_content {
                        display: none;
                    }
                }
                .activeList {
                    .list_title {
                        .icon {
                            transform: rotate(90deg);
                            color: #ffd089;
                        }
                    }
                    .list_content {
                        display: block;
                        background: #fcf9f7;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        margin-top: 0.63rem;
                        padding: 1.06rem 0.88rem 1rem 1.44rem;
                        .description {
                            font-family: Microsoft YaHei UI, sans-serif;
                            font-weight: 400;
                            font-size: 0.88rem;
                            color: #012247;
                            line-height: 1.57rem;
                            letter-spacing: 1px;
                        }
                        ul {
                            margin-top: 0.88rem;
                            list-style: none;
                            li + li {
                                margin-top: 0.5rem;
                            }
                            li {
                                display: flex;
                                .des_label {
                                    p {
                                        font-family: Microsoft YaHei UI, sans-serif;
                                        font-weight: bold;
                                        font-size: 0.88rem;
                                        color: #012247;
                                        line-height: 1.4rem;
                                        letter-spacing: 1px;
                                        white-space: nowrap;
                                    }
                                    hr {
                                        margin-top: -0.5rem;
                                        width: 100%;
                                        height: 0.56rem;
                                        background: #ffd089;
                                        border-radius: 0.13rem 0.13rem 0.13rem 0.13rem;
                                        border: none;
                                    }
                                }
                                .des_value {
                                    margin-left: 0.8rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 0.8rem;
                                    color: #395a7c;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content_top {
                margin-top: 2.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .picture {
                    img {
                        width: 40rem;
                        height: 30rem;
                    }
                }
                .lists {
                    margin-left: 3rem;
                }
            }
            .content_bottom {
                margin-top: 5rem;
                display: flex;
                justify-content: space-between;
                .picture {
                    margin-left: 3rem;
                    img {
                        width: 40rem;
                        height: 36rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 6.25rem 0;
            width: 90%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #00162d;
                    line-height: 2.64rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    margin-top: 0.63rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #012247;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .lists {
                list-style: none;
                .list + .list {
                    margin-top: 1.25rem;
                }
                .list {
                    .list_title {
                        height: 3.63rem;
                        background: #ffffff;
                        box-shadow: 0rem 0.25rem 0.25rem 0rem #f6f6f6;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        padding: 0 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #000000;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        .icon {
                            font-size: 1.2rem;
                            color: #83a4f8;
                            border: none;
                            background-color: transparent;
                        }
                    }
                    .list_content {
                        display: none;
                    }
                }
                .activeList {
                    .list_title {
                        .icon {
                            transform: rotate(90deg);
                            color: #ffd089;
                        }
                    }
                    .list_content {
                        display: inline-block;
                        background: #fcf9f7;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        margin-top: 0.63rem;
                        padding: 1.06rem 0.88rem 1rem 1.44rem;
                        .description {
                            word-break: break-all; /* 强制单词在任何地方换行 */
                            white-space: normal; /* 默认情况下文本会换行 */
                            font-family: Microsoft YaHei UI, monospace;
                            font-weight: 400;
                            font-size: 0.88rem;
                            color: #012247;
                            line-height: 1.57rem;
                            letter-spacing: 1px;
                        }
                        ul {
                            margin-top: 0.88rem;
                            list-style: none;
                            li + li {
                                margin-top: 0.5rem;
                            }
                            li {
                                display: flex;
                                .des_label {
                                    p {
                                        font-family: Microsoft YaHei UI, sans-serif;
                                        font-weight: bold;
                                        font-size: 0.88rem;
                                        color: #012247;
                                        line-height: 1.4rem;
                                        letter-spacing: 1px;
                                        white-space: nowrap;
                                    }
                                    hr {
                                        margin-top: -0.5rem;
                                        width: 100%;
                                        height: 0.56rem;
                                        background: #ffd089;
                                        border-radius: 0.13rem 0.13rem 0.13rem 0.13rem;
                                        border: none;
                                    }
                                }
                                .des_value {
                                    margin-left: 0.8rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 0.8rem;
                                    color: #395a7c;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content_top {
                margin-top: 2.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .picture {
                    img {
                        width: 36rem;
                        height: 27rem;
                    }
                }
                .lists {
                    margin-left: 2rem;
                }
            }
            .content_bottom {
                margin-top: 5rem;
                display: flex;
                justify-content: space-between;
                .picture {
                    margin-left: 2rem;
                    img {
                        width: 36rem;
                        height: 34rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 6.25rem 0;
            width: 90%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #00162d;
                    line-height: 2.64rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    margin-top: 0.63rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #012247;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .lists {
                width: 100%;
                list-style: none;
                .list + .list {
                    margin-top: 0.8rem;
                }
                .list {
                    width: 100%;
                    .list_title {
                        height: 2.5rem;
                        background: #ffffff;
                        box-shadow: 0rem 0.25rem 0.25rem 0rem #f6f6f6;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        padding: 0 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.2rem;
                            color: #000000;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        .icon {
                            font-size: 1.2rem;
                            color: #83a4f8;
                            border: none;
                            background-color: transparent;
                        }
                    }
                    .list_content {
                        display: none;
                    }
                }
                .activeList {
                    .list_title {
                        .icon {
                            transform: rotate(90deg);
                            color: #ffd089;
                        }
                    }
                    .list_content {
                        display: inline-block;
                        background: #fcf9f7;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        margin-top: 0.63rem;
                        padding: 0.5rem;
                        .description {
                            word-break: break-all; /* 强制单词在任何地方换行 */
                            white-space: normal; /* 默认情况下文本会换行 */
                            font-family: Microsoft YaHei UI, monospace;
                            font-weight: 400;
                            font-size: 0.88rem;
                            color: #012247;
                            line-height: 1.57rem;
                            letter-spacing: 1px;
                        }
                        ul {
                            margin-top: 0.3rem;
                            list-style: none;
                            li + li {
                                margin-top: 0.2rem;
                            }
                            li {
                                display: flex;
                                .des_label {
                                    p {
                                        font-family: Microsoft YaHei UI, sans-serif;
                                        font-weight: bold;
                                        font-size: 0.88rem;
                                        color: #012247;
                                        line-height: 1.4rem;
                                        letter-spacing: 1px;
                                        white-space: nowrap;
                                    }
                                    hr {
                                        margin-top: -0.5rem;
                                        width: 100%;
                                        height: 0.56rem;
                                        background: #ffd089;
                                        border-radius: 0.13rem 0.13rem 0.13rem 0.13rem;
                                        border: none;
                                    }
                                }
                                .des_value {
                                    margin-left: 0.8rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 0.8rem;
                                    color: #395a7c;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content_top {
                margin-top: 2.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .picture {
                    img {
                        width: 26rem;
                        height: 20rem;
                    }
                }
                .lists {
                    margin-left: 2rem;
                }
            }
            .content_bottom {
                margin-top: 5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .picture {
                    margin-left: 2rem;
                    img {
                        width: 26rem;
                        height: 25rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 5rem 0;
            width: 70%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #00162d;
                    line-height: 2.64rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    margin-top: 0.63rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #012247;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .lists {
                list-style: none;
                .list + .list {
                    margin-top: 1.25rem;
                }
                .list {
                    .list_title {
                        height: 3.63rem;
                        background: #ffffff;
                        box-shadow: 0rem 0.25rem 0.25rem 0rem #f6f6f6;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        padding: 0 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #000000;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        .icon {
                            font-size: 1.2rem;
                            color: #83a4f8;
                            border: none;
                            background-color: transparent;
                        }
                    }
                    .list_content {
                        display: none;
                    }
                }
                .activeList {
                    .list_title {
                        .icon {
                            transform: rotate(90deg);
                            color: #ffd089;
                        }
                    }
                    .list_content {
                        display: inline-block;
                        background: #fcf9f7;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        margin-top: 0.63rem;
                        padding: 1.06rem 0.88rem 1rem 1.44rem;
                        .description {
                            word-break: break-all; /* 强制单词在任何地方换行 */
                            white-space: normal; /* 默认情况下文本会换行 */
                            font-family: Microsoft YaHei UI, monospace;
                            font-weight: 400;
                            font-size: 0.88rem;
                            color: #012247;
                            line-height: 1.57rem;
                            letter-spacing: 1px;
                        }
                        ul {
                            margin-top: 0.88rem;
                            list-style: none;
                            li + li {
                                margin-top: 0.5rem;
                            }
                            li {
                                display: flex;
                                .des_label {
                                    p {
                                        font-family: Microsoft YaHei UI, sans-serif;
                                        font-weight: bold;
                                        font-size: 0.88rem;
                                        color: #012247;
                                        line-height: 1.4rem;
                                        letter-spacing: 1px;
                                        white-space: nowrap;
                                    }
                                    hr {
                                        margin-top: -0.5rem;
                                        width: 100%;
                                        height: 0.56rem;
                                        background: #ffd089;
                                        border-radius: 0.13rem 0.13rem 0.13rem 0.13rem;
                                        border: none;
                                    }
                                }
                                .des_value {
                                    margin-left: 0.8rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 0.8rem;
                                    color: #395a7c;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content_top {
                margin-top: 2.5rem;
                .picture {
                    margin-bottom: 2rem;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .content_bottom {
                margin-top: 1.25rem;
                .picture {
                    margin-top: 2rem;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            margin: 5rem 0;
            width: 92%;
            .title {
                h2 {
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    font-size: 2.25rem;
                    color: #00162d;
                    line-height: 2.64rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
                p {
                    margin-top: 0.63rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #012247;
                    line-height: 3.2rem;
                    letter-spacing: 2px;
                    text-align: center;
                }
            }
            .lists {
                list-style: none;
                .list + .list {
                    margin-top: 1.25rem;
                }
                .list {
                    .list_title {
                        height: 3.63rem;
                        background: #ffffff;
                        box-shadow: 0rem 0.25rem 0.25rem 0rem #f6f6f6;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        padding: 0 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: bold;
                            font-size: 1.25rem;
                            color: #000000;
                            line-height: 2.25rem;
                            letter-spacing: 1px;
                        }
                        .icon {
                            font-size: 1.2rem;
                            color: #83a4f8;
                            border: none;
                            background-color: transparent;
                        }
                    }
                    .list_content {
                        display: none;
                    }
                }
                .activeList {
                    .list_title {
                        .icon {
                            transform: rotate(90deg);
                            color: #ffd089;
                        }
                    }
                    .list_content {
                        display: inline-block;
                        background: #fcf9f7;
                        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
                        margin-top: 0.63rem;
                        padding: 1.06rem 0.88rem 1rem 1.44rem;
                        .description {
                            word-break: break-all; /* 强制单词在任何地方换行 */
                            white-space: normal; /* 默认情况下文本会换行 */
                            font-family: Microsoft YaHei UI, monospace;
                            font-weight: 400;
                            font-size: 0.88rem;
                            color: #012247;
                            line-height: 1.57rem;
                            letter-spacing: 1px;
                        }
                        ul {
                            margin-top: 0.88rem;
                            list-style: none;
                            li + li {
                                margin-top: 0.5rem;
                            }
                            li {
                                display: flex;
                                .des_label {
                                    p {
                                        font-family: Microsoft YaHei UI, sans-serif;
                                        font-weight: bold;
                                        font-size: 0.88rem;
                                        color: #012247;
                                        line-height: 1.4rem;
                                        letter-spacing: 1px;
                                        white-space: nowrap;
                                    }
                                    hr {
                                        margin-top: -0.5rem;
                                        width: 100%;
                                        height: 0.56rem;
                                        background: #ffd089;
                                        border-radius: 0.13rem 0.13rem 0.13rem 0.13rem;
                                        border: none;
                                    }
                                }
                                .des_value {
                                    margin-left: 0.8rem;
                                    font-family: Microsoft YaHei UI, sans-serif;
                                    font-weight: 400;
                                    font-size: 0.8rem;
                                    color: #395a7c;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
            .content_top {
                margin-top: 2.5rem;
                .picture {
                    margin-bottom: 2rem;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .content_bottom {
                margin-top: 1.25rem;
                .picture {
                    margin-top: 2rem;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
